@model ViewPasteModel

@{
    ViewData["CreateDisabled"] = false;
    ViewData["EditDisabled"] = false;
    ViewData["SaveDisabled"] = true;
    ViewData["IsIndex"] = false;
}

<div class="code-container">
    <div class="line-numbers">
        @for (int i = 1; i <= Model.Lines; i++)
        {
            <a href="#@i" class="line-number">@i
                <div id="@i" class="anchor"></div>
            </a>
        }
    </div>
    <pre><code class="@Model.Extension hljs">@Model.Code</code></pre>
</div>
<script>
    $(document).ready(function(){
        $("code").each(function(){
            $(this).html($(this).html().trim());
        });

        $(window).on('hashchange', function() {
            highlightSelectedLine();
        });

        highlightSelectedLine();
    });

    $('.icon-container.edit').click(function () {
        document.location = "/?template=@Model.Id"
    });
</script>