@model IndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["CreateDisabled"] = false;
    ViewData["EditDisabled"] = true;
    ViewData["SaveDisabled"] = false;
    ViewData["IsIndex"] = true;
}

<div class="code-container">
    <div class="arrow">></div>
    <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="code-input hljs">@Model.Template</textarea>
</div>

<script>
    $(document).ready(function() {
        $('textarea').tabOverride();

        $('textarea').on('paste', function() {
            if (this.value.indexOf('\t') > -1) $.fn.tabOverride.tabSize(0);

            $.fn.tabOverride.tabSize(2);
        });

        function postTextAreaContent()
        {
            var str = $('textarea')[0].value;
            var hljsRes = hljs.highlightAuto(str);

            postContent(str, hljsRes.language)
                .then(function(res) {
                    document.location = `${res.id}.${hljsRes.language}`;
                })
                .catch(function(err) {
                    $('.error-display span').text(err.error);
                    $('.error-display').addClass('enabled');
                    setTimeout(function () {
                        $('.error-display span').text("");
                        $('.error-display').removeClass('enabled');
                    }, 10000);
                });
        }

        $('.icon-container.save').click(function () {
            postTextAreaContent();
        });

        $(window).bind('keydown', function(event) {
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                    case 's':
                        event.preventDefault();
                        
                        postTextAreaContent();
                    break;
                }
            }
        });
    });
</script>
