:root {
    --font-size: 12pt;
    --font-family: 'Roboto Mono', monospace;
}

html {
    height: 100%;
    width: 100%;
}

body {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: calc(100% - 3vw);
    height: auto;
    height: 7%;
    background-color: #1c1c1c;
    padding-left: 3vw;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.header > .error-display {
    align-self: center;
    justify-self: center;
    flex-grow: 99;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-right: 10%;
    color: orangered;
    font-family: var(--font-family);
}

.header > .error-display > span {
    width: 100%;
    text-align: center;
}

.header > .error-display.enabled {
    visibility: visible;
}

.header > .icon-container {
    position: relative;
    display: flex;
    padding-left: 1%;
    cursor: pointer;
    align-items: center;
    user-select: none;
    -moz-user-select: none;
}

.header > .icon-container > span {
    position: absolute;
    width: 120px;
    top: 100%;
    left: 100%;
    text-align: center;
    visibility: hidden;
    z-index: 1;
    padding: 5px;
    margin-top: 5px;
    background-color: #1c1c1c;
    color: white;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

.header > .about {
    align-self: center;
    justify-self: center;
    margin-right: 1%;
    padding-left: unset;
}

.header > .about > span {
    top: 100%;
    right: 100%;
    left: unset;
}

.header > .icon-container > i {
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.8;
    height: 4%;
}

.header > .icon-container.disabled > i {
    margin-top: auto;
    margin-bottom: auto;
    opacity: 0.3;
    height: 4%;
}
.header > .icon-container.disabled:hover > i {
    opacity: 0.3;
}

.header > .icon-container:hover > i {
    opacity: 1;
}

.header > .icon-container:hover > span {
    visibility: visible;
}

.code-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    height: calc(100vh - 7%);
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.hljs {
    padding: 0 !important;
}

.line-numbers,
.arrow {
    padding-top: 13px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    width: auto;
    font-size: var(--font-size);
    min-height: calc(100% - 1em - 5px);
    height: auto;
    font-family: var(--font-family);
    user-select: none;
    -moz-user-select: none;
    background-color: #1c1c1c;
    text-align: right;
}

.arrow {
    padding-right: .5vw;
    padding-left: 2vw;
}

.line-number {
    position: relative;
    color: #e6e1dc;
    text-decoration: none;
    padding-left: 1vw;
    padding-right: .5vw;
}

.line-number.selected {
    position: relative;
    color: #e6e1dc;
    text-decoration: none;
    background-color: #f3bd69;
    color: #1f1f1f !important;
}

.anchor {
    position: absolute;
    bottom: 100%;
    padding-top: calc(40vh - 7%);
}

.code-input {
    margin-top: 15px;
    margin-left: .5%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    white-space: pre-wrap;
    min-height: calc(100% - 15px);
}

pre {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: .5%;

    white-space: normal;

    flex-grow: 99;
}

code {
    height: auto;
    padding-top: 0;
    padding: 0 !important;

    white-space: pre;

    font-family: var(--font-family);
    font-size: var(--font-size);
}
